#polkit agent from lxsession package
lxpolkit &

#network manager applet in the systray
nm-applet &

#Faster key pressing
xset r rate 300 35

#change language layout with alt-shift and set capslock as escape key
#don't need this anymore!
#setxkbmap -option caps:escape,grp:alt_shift_toggle -layout us,ir

#set the last wallpaper
xwallpaper --output DP-2 --zoom ~/Pictures/bg-DP-2
xwallpaper --output eDP-1 --zoom ~/Pictures/bg-eDP-1

#turn the screen saver off
#xset s off

#auto mount
#udiskie -sN &

#lockscreen after suspend
xss-lock --transfer-sleep-lock -- i3lock --nofork &
